In [ ]:
import pandas as pd

# **user_df**

In [ ]:
user_df = pd.read_csv('/content/BX-Users.csv', sep=';', encoding = 'latin-1')

In [ ]:
# Rename column, add and remove columns
user_df = user_df.rename(columns={'User-ID': 'username'})
user_df['email'] = 'default'
user_df['password'] = '000000'
user_df = user_df[['username', 'password', 'email']]

In [ ]:
# change data type of username
user_df['username'] = user_df['username'].astype('str')

In [ ]:
# check key is unique
len(user_df['username'].unique()) == len(user_df['username'])

True

In [ ]:
user_df.dtypes

username    object
password    object
email       object
dtype: object

In [ ]:
user_df

       username password    email
0             1   000000  default
1             2   000000  default
2             3   000000  default
3             4   000000  default
4             5   000000  default
...         ...      ...      ...
278853   278854   000000  default
278854   278855   000000  default
278855   278856   000000  default
278856   278857   000000  default
278857   278858   000000  default

[278858 rows x 3 columns]

# **rating_df**

In [ ]:
rating_df = pd.read_csv('/content/BX-Book-Ratings.csv', sep=';', encoding = 'latin-1')

In [ ]:
# rename the column
rating_df = rating_df.rename(columns={'User-ID': 'username', 'Book-Rating': 'book_rating'})

In [ ]:
# change data type
rating_df['username'] = rating_df['username'].astype('str')

In [ ]:
# remove columns with implicit rating (rating = 0)
rating_df = rating_df[rating_df['book_rating'] != 0]

In [ ]:
# check key is unique
# Step 1: Group dataframe by candidate columns 
grouped = rating_df.groupby(["username", "ISBN"]) 
# Step 2: Count rows in each group
counts = grouped.size()
print(counts)
# Step 3: Check whether every value equals 1
(counts == 1).all()

username  ISBN
10        8477024456    1
100002    0345397819    1
100004    0345339703    1
          0399146652    1
          0425083837    1
                       ..
99997     0345443284    1
          0385259956    1
          0451202341    1
          0771060548    1
99998     0140622144    1
Length: 433671, dtype: int64

True

In [ ]:
rating = rating_df

In [ ]:
rating.drop_duplicates(subset =["username","ISBN"], keep = False, inplace = True)

In [ ]:
# check duplicate
len(rating) == len(rating_df)

True

In [ ]:
rating_df.dtypes

username       object
ISBN           object
book_rating     int64
dtype: object

In [ ]:
rating_df

        username         ISBN  book_rating
1         276726   0155061224            5
3         276729   052165615X            3
4         276729   0521795028            6
6         276736   3257224281            8
7         276737   0600570967            6
...          ...          ...          ...
1149773   276704   0806917695            5
1149775   276704   1563526298            9
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[433671 rows x 3 columns]

# **books_df**

In [ ]:
book_cols = ['isbn', 'book_title' ,'book_author','year_of_publication', 'publisher', 'img_s', 'img_m', 'img_l']
cross_books_data = pd.read_csv('/content/BX-Books.csv', sep=';', names=book_cols, encoding='latin-1', low_memory=False, skiprows=1)

In [ ]:
cross_books_data[cross_books_data['year_of_publication']== 'DK Publishing Inc']

              isbn  ... img_l
209550  078946697X  ...   NaN
221691  0789466953  ...   NaN

[2 rows x 8 columns]

In [ ]:
books_df = pd.read_csv('/content/BX-Books.csv', sep=';', error_bad_lines=False, encoding = 'latin-1')

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
# rename columns
books_df = books_df.rename(columns={'Book-Title': 'book_title', 'Book-Author': 'book_author', 'Year-Of-Publication': 'year_of_publication',	'Publisher': 'publisher'})

In [ ]:
books_df.groupby('year_of_publication').size()

year_of_publication
0                    3570
1806                    1
1900                    1
1901                    7
1902                    2
                     ...
2024                    1
2030                    3
2037                    1
DK Publishing Inc       2
Gallimard               1
Length: 202, dtype: int64

In [ ]:
books_df[books_df['year_of_publication']== 'DK Publishing Inc']

              ISBN  ... Image-URL-L
209538  078946697X  ...         NaN
221678  0789466953  ...         NaN

[2 rows x 8 columns]

In [ ]:
book = books_df

In [ ]:
for i in range(len(book['year_of_publication'])):
    if book['year_of_publication'][i] == 'DK Publishing Inc' or book['year_of_publication'][i] == 'Gallimard':
        book['year_of_publication'][i] = '0'

In [ ]:
book.groupby('year_of_publication').size()

year_of_publication
0       3570
1806       1
1900       1
1901       7
1902       2
        ...
2012       1
2020       1
2024       1
2030       3
2037       1
Length: 200, dtype: int64

In [ ]:
book['year_of_publication'] = book['year_of_publication'].astype('int')

In [ ]:
book.dtypes

ISBN                   object
book_title             object
book_author            object
year_of_publication     int64
publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

In [ ]:
book = book[book['year_of_publication'] != 0]

In [ ]:
book = book[book['year_of_publication'] <= 2004]

In [ ]:
book.groupby('year_of_publication').size()

year_of_publication
1376        1
1378        1
1806        1
1897        1
1900        3
        ...
2000    17232
2001    17359
2002    17627
2003    14358
2004     5839
Length: 101, dtype: int64

In [ ]:
book

              ISBN  ...                                        Image-URL-L
0       0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1       0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2       0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3       0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4       0393045218  ...  http://images.amazon.com/images/P/0393045218.0...
...            ...  ...                                                ...
271355  0440400988  ...  http://images.amazon.com/images/P/0440400988.0...
271356  0525447644  ...  http://images.amazon.com/images/P/0525447644.0...
271357  006008667X  ...  http://images.amazon.com/images/P/006008667X.0...
271358  0192126040  ...  http://images.amazon.com/images/P/0192126040.0...
271359  0767409752  ...  http://images.amazon.com/images/P/0767409752.0...

[266667 rows x 8 columns]

In [ ]:
book[book['ISBN'] == '042511774X']

          ISBN  ...                                        Image-URL-L
66  042511774X  ...  http://images.amazon.com/images/P/042511774X.0...

[1 rows x 8 columns]

In [ ]:
def decade(x):
    if x >= 1370 and x <= 1379:
        return '1370s'
    elif x >= 1800 and x <= 1809:
        return '1800s'
    elif x >= 1890 and x <= 1899:
        return '1890s'
    elif x >= 1890 and x <= 1899:
        return '1890s'
    elif x >= 1900 and x <= 1909:
        return '1900s'
    elif x >= 1910 and x <= 1919:
        return '1910s'
    elif x >= 1920 and x <= 1929:
        return '1920s'
    elif x >= 1930 and x <= 1939:
        return '1930s'
    elif x >= 1940 and x <= 1949:
        return '1940s'
    elif x >= 1950 and x <= 1959:
        return '1950s'
    elif x >= 1960 and x <= 1969:
        return '1960s'
    elif x >= 1970 and x <= 1979:
        return '1970s'
    elif x >= 1980 and x <= 1989:
        return '1980s'
    elif x >= 1990 and x <= 1999:
        return '1990s'
    elif x >= 2000 and x <= 2009:
        return '2000s'

In [ ]:
book['decade'] = book['year_of_publication'].apply(lambda x: decade(x))

In [ ]:
book = book.rename(columns={'Image-URL-S': 'image_url_s', 'Image-URL-M': 'image_url_m', 'Image-URL-L': 'image_url_l'})

In [ ]:
book.dtypes

ISBN                   object
book_title             object
book_author            object
year_of_publication     int64
publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
decade                 object
dtype: object

In [ ]:
book

              ISBN  ... decade
0       0195153448  ...  2000s
1       0002005018  ...  2000s
2       0060973129  ...  1990s
3       0374157065  ...  1990s
4       0393045218  ...  1990s
...            ...  ...    ...
271355  0440400988  ...  1980s
271356  0525447644  ...  1990s
271357  006008667X  ...  2000s
271358  0192126040  ...  1990s
271359  0767409752  ...  2000s

[266667 rows x 9 columns]

In [ ]:
# check key is unique
len(book["ISBN"].unique()) == len(book["ISBN"])

True

# **Export data**

In [ ]:
user_df.to_csv("user.csv", index=False)
rating_df.to_csv("rating.csv", index=False)
book.to_csv("books.csv", index=False)

In [ ]:
user_df.to_csv("user.csv", index=False)

In [ ]:
from google.colab import files
files.download('user.csv') 
files.download("rating.csv")
files.download("books.csv")